<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      {% block head %}
      <meta charset="utf-8">
      <title>Login Form Design | CodeLab</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}" />
      {% endblock %}
   </head>
   <body>
      {% block body %}
      <div class="wrapper">
         <div class="title">
            Reset Password
         </div>
         <form action="/reset" method="POST">
            <div class="field">
               <input type="text" name="email" required>
               <label>Email Address</label>
            </div>
            <div class="field">
               <input type="submit" value="Reset">
            </div>
            <div class="signup-link">
               Not a member? <a href="/signup">Signup now</a>
            </div>
         </form>
      </div>
      {% endblock %}
   </body>
</html>